@charset "utf-8";
a {color:white}

a {font-family:"bahnschrift","MS UI Gothic"}
h1 {
    font-family: "bahnschrift","MS gothic";
}

.headder {

    width:100%;
    position:relative;

}

.headder img{
    width:100%;
    height:auto;
}

.headder p{

    position: absolute;

    left: 50%;
    top: 70%;

    transform: translate(-50%,-50%);
    
}
