@charset "UTF-8";

body {

    background-color: #68BE8D; 
    color:black;
    
}

body a{

    color: #6600ff;
}

a {font-family:"bahnschrift","MS UI Gothic"}
h1 {
    font-family: "bahnschrift","MS gothic";
}

.headder {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.headder img{

width:100%;

}

.headder p{

    position: absolute;

    left: 50%;
    top: 70%;

    transform: translate(-50%,-50%);
    
}

.headder a{
    color:white;
}

