@charset "UTF-8";

body {

    background-color: #68BE8D; 
    color:black;
    font-size:16px;
}

body a{

    color: white;
}

body a {font-family:"bahnschrift","MS UI Gothic","sans-serif"}
body h1 {
    font-family: "bahnschrift","MS gothic","sans-serif";
}
body h2 {
        font-family: "bahnschrift","MS gothic","sans-serif";
    }
    body p {
        font-family: "sans-serif","MS Gothic","Bahnschrift";
    }

.headder {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.headder img{

width:100%;
min-width:1000px;

}

.headder p{

    position: absolute;

    left: 50%;
    top: 70%;

    transform: translate(-50%,-50%);
    
}

.headder a{
    color:white;
}

.blogtitles {
    
    width:740px;
    display:block;

    background-color:#7EBEAB;

    margin:0 auto;
  

}

.blogtitle {
    width: 720px;
    height: 150px;
    background-color: #47885E;
    margin-left:10px;

}

.blogtitle h2{

    color:white;

}

.blog {
    
    width: 1000px;
    display: flex;
    background-color: #47885E;
    margin:0 auto;

}

.side {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom:10px;
    width: 250px;
    height: 400px;
    background-color: #7EBEAB;

    position:sticky;
}

.article {

    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    width: 720px;
    background-color: #CCFFE5;
}
